@model WebSite.Models.Registration

@{
    ViewBag.Title = "Registration done";
}

<h2>Great ! Registration done !</h2>
You will now receive our great newletter for the following categories : 
@Model.Categories.Aggregate(string.Empty, (s, category) => s + ", " + category.Name);