@model dynamic

@{
    ViewBag.Title = "Registration done";
}

<h2>Great ! Registration done !</h2>
You will now receive our great newletter for the following categories : 
@*@foreach(var category in Model)*@